// HOME PAGE
$homePageBackgroundColor: #fafafa;

// TOGGLE MENU
$toggleMenuBackgroundColor: rgba(0, 0, 0, 0.9);

// PROJECT PAGES
$projectPageDarkBackgroundColor: #1a1a1a;
$projectPageLightBackgroundColor: #fafafa;

// TOP BAR
$topBarHeight: 65px;
$topBarBackgroundColor: #212121;
$topBarTexColor: #fff;
$topBarAlternativeColorFirst: #ef6c00;
$topBarAlternativeColorSecond: #ffB700;

// IMAGE BUTTON
$buttonPrimaryHoverColor: rgba(200, 200, 200, 0.1);
$buttonAlternativeHoverColor: #ef6c00;

// SIMPLE BUTTON
$simpleButtonBackgroundColor: #212121;
$simpleButtonTextColor: #fff;
$simpleButtonHoverBackgroundColor: #fff;
$simpleButtonHoverTextColor: #212121;