// HOME PAGE
$homePageBgColor: #fff;

// TOGGLE MENU
$toggleMenuBgColor: rgba(0, 0, 0, 0.9);

// PROJECT PAGES
$projectPageBgColor: #1a1a1a;

// NAVIGATION BAR
$navBarHeight: 65px;
$navBarBgColor: #212121;
$navBarTexColor: #fff;

// IMAGE BUTTON
$imageButtonHoverColor: rgba(200, 200, 200, 0.1);

// SIMPLE BUTTON
$simpleButtonBgColor: #212121;
$simpleButtonTextColor: #fff;
$simpleButtonHoverBgColor: #fff;
$simpleButtonHoverTextColor: #212121;