// HOME PAGE
$homePageBgColor: #fff;

// NAVIGATION BAR
$navBarBgColor: #212121;
$navBarTexColor: #fff;

// IMAGE BUTTON
$imageButtonHoverColor: rgba(200, 200, 200, 0.1);

// SIMPLE BUTTON
$simpleButtonBgColor: #212121;
$simpleButtonTextColor: #fff;
$simpleButtonHoverBgColor: #fff;
$simpleButtonHoverTextColor: #212121;