.BottomNavbar {
    width: 100%;
    padding: 10px;
    background-color: #212121;
    color: white;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.BottomNavbar > .GitHubLogo > img {
    max-height: 30px;
}