.DrawingBoard {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    user-select: none;
    touch-action: none;
    background-color: #fff;

    .BoardWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        transition:0s 180s;
        font-size: 30px;
        color: rgba(255, 255, 255, 0.3);
        width: 100%;
        flex: 1 1 100%;

        .Board {
            position: absolute;
            background-color: #000;
        }
    }
    
    .BoardWrapper:hover {
        color: transparent;
        transition:0.3s;
    }

    .ButtonsRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        align-items: center;

        width: 100%;
        padding: 15px 0;
        box-sizing: border-box;
        height: 75px;
        background-color: #fff;
    }
}