.DrawingBoard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.BoardWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    transition:0s 180s;
    font-size: 30px;
    color: white;
}

.BoardWrapper:hover {
    color: transparent;
    transition:0.3s;
}

.DrawingBoard .Board {
    box-sizing: border-box;
    border-width: 3px;  
    border-style: dashed;
    border-color: white;
    position: absolute;
}

.DrawingBoard .ButtonsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}