.HomeViewComplement {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #fff;
  max-width: 500px;
  text-decoration: none;

  > p {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    text-shadow: 0 0 8px #000;
  }

  .ButtonsRow {
    display: flex;
    flex-direction: row;
  }
}