.ObjectDetectionView {
    width: 100%;
    height: calc(100vh - #{$topBarHeight});
    padding: 25px 0 0 0;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;

    box-shadow: inset 0px 10px 30px -10px rgba(0,0,0,1);
    background-color: $projectPageDarkBackgroundColor;
}