.ProjectsList {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;

    background-image: url("./assets/images/background_logo.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 30%;
}