.TopNavbar {
    width: 100%;
    padding: 2px 5px;
    background-color: #212121;
    color: white;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.NavbarGroup > .Logo {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.NavbarGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.NavbarGroup > .MainHeader {
    font-size: 25px;
    margin: 0 10px;
}

.NavbarGroup > .AdditionalHeader {
    font-size: 15px;
    margin: 0 25px;
}
