.TopNavbar {
    width: 100%;
    padding: 10px;
    background-color: #212121;
    color: white;
    box-sizing: border-box;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.TopNavbar > .MainHeader {
    font-size: 30px;
    margin: 0 10px;
}

.TopNavbar > .AdditionalHeader {
    font-size: 20px;
    margin: 0 25px;
}
