body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif; }

#root {
  width: 100%;
  height: 100%; }

.CircleChart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center; }

.ChartCanvas {
  position: absolute; }

.DemoView {
  background-color: #424242;
  width: 100%;
  height: 100%;
  padding: 25px 0 0 0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  box-shadow: inset 0px 10px 30px -10px black; }

.DrawingBoard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center; }

.BoardWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  transition: 0s 180s;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.3); }

.BoardWrapper:hover {
  color: transparent;
  transition: 0.3s; }

.DrawingBoard .Board {
  box-sizing: border-box;
  border-width: 3px;
  border-style: dashed;
  border-color: white;
  position: absolute; }

.DrawingBoard .ButtonsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center; }

.DrawingBoard .BoardText {
  font-size: 30px; }

.ImageButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  transition: background-color 0.7s ease;
  margin: 5px; }

.ImageButton:hover {
  background-color: rgba(200, 200, 200, 0.1); }

.PrettyBox {
  position: relative;
  padding: 10px;
  box-sizing: border-box; }

.PrettyBox > .PrettyBoxHeader {
  position: absolute;
  user-select: none;
  padding: 0 10px;
  left: 30px;
  top: -5px;
  font-size: 20px;
  color: white;
  background-color: #424242;
  box-sizing: border-box; }

.PrettyBox > .PrettyBoxPayload {
  width: 100%;
  height: 100%;
  border: solid white 1px;
  padding: 20px;
  box-sizing: border-box; }

.RootView {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center; }

.SimpleButton {
  transition: background-color 0.7s ease;
  background-color: #212121;
  color: white;
  margin: 10px 10px 10px 10px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  user-select: none; }

.SimpleButton:hover {
  background-color: white;
  color: #212121;
  cursor: pointer; }

.TopNavbar {
  width: 100%;
  padding: 5px;
  background-color: #212121;
  color: white;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center; }

.NavbarGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center; }

.NavbarGroup > .MainHeader {
  font-size: 25px;
  margin: 0 10px; }

.NavbarGroup > .AdditionalHeader {
  font-size: 15px;
  margin: 0 25px; }
