@import 'styles/_Settings';

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: $homePageBackgroundColor;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: fixed;
}

#root {
  width: 100%;
  height: 100%;
}

@import 'styles/LoadingScreen';
@import 'styles/ImageLoader';
@import 'styles/ObjectDetectionView';
@import 'styles/ProjectTile';
@import 'styles/ProjectsList';
@import 'styles/HomeView';
@import 'styles/CircleChart';
@import 'styles/MnistView';
@import 'styles/DrawingBoard';
@import 'styles/ImageButton';
@import 'styles/TextButton';
@import 'styles/PreetyBox';
@import 'styles/RootView';
@import 'styles/SimpleButton';
@import 'styles/TopBar';
@import 'styles/ToggledMenu';
@import 'styles/ToggledMenuButton';
@import 'styles/Particles';
@import 'styles/HomeViewComplement';
@import 'styles/RoundedCornersBox';
@import 'styles/LineChart';